# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here

LANGSMITH_API_KEY=

# Add base url for LLM interaction
LLM_BASE_URL=
SERPER_API_KEY=
SERPER_BASE_URL=
XRAY_PREFIX=
MAX_SEARCH_RESULTS=